# SERVER INFO
SERVER_MODE=dev # [prod, dev, test]
PORT=:3000
VERSION=1

# LOGGING
LOG_LEVEL=debug

# API
DEFAULT_API_TIMEOUT=2 # Response to FE should handled under DEFAULT_API_TIMEOUT second
DEFAULT_BLOCK_FETCH_TIME=500 # ms


# VALIDATE STRATEGY
VALIDATE_TX_COUNT=false
VALIDATE_BLOCK_HASH=false

# BUFFER
BUFFER_BLOCKS=50

# CACHE
CACHE_ENGINE=redis
CACHE_URI=redis:6379
CACHE_DB=0
CACHE_FILE=./cache/srvCache.kcache
CACHE_IS_FLUSH=true
CACHE_EXPIRED_TIME=24 # hour

# KARDIA NETWORK
KARDIA_PROTOCOL=rpc
KARDIA_URL=http://10.10.0.251:8551,http://10.10.0.251:8548,http://10.10.0.251:8549,http://10.10.0.251:8550

# EXPLORER STORAGE
STORAGE_DRIVER=mgo
STORAGE_URI=mongodb://mongodb:27017
STORAGE_DB=explorer
STORAGE_IS_FLUSH=true

# POSTGRES CONFIG
# POSTGRES_URI=postgres://postgres:DUHtvINJ+MUl8e@postgres:5432/explorer?sslmode=disable
# POSTGRES_MAX_CONN=32

# MONGO CONFIG
# MONGO_URI=mongo://mongodb:27017
# MONGO_DB=explorer


